.header-st0 {
  fill: #FFFFFF;
}

.header-st1 {
  fill: none;
  stroke: #272727;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.header-st2 {
  fill: #272727;
}

.header-st3 {
  fill: #EFF1F3;
}

.header-st4 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.dials-st5 {
  fill: #FFFFFF;
}

.dials-st6 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.dials-st7 {
  fill: #007486;
}

.dials-st8 {
  fill: #272727;
}

.dials-st9 {
  fill: #EFF1F3;
}

.dials-st10 {
  fill: none;
  stroke: #272727;
  stroke-miterlimit: 10;
}

.dials-st11 {
  fill: none;
  stroke: #272727;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.perpetual-st0 {
  fill: #FFFFFF;
}

.perpetual-st1 {
  fill: none;
}

.perpetual-st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.perpetual-st3 {
  fill: #EFF1F3;
}

.perpetual-st4 {
  fill: #272727;
}

.perpetual-st5 {
  fill: none;
  stroke: #272727;
  stroke-miterlimit: 10;
}

.perpetual-st6 {
  fill: #007486;
}

.perpetual-st7 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.day-night-st0 {
  fill: #FFFFFF;
}

.day-night-st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.day-night-st2 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.day-night-st3 {
  fill: #272727;
}

.day-night-st4 {
  fill: #3D98E2;
  stroke: #000000;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.day-night-st5 {
  fill: #0F2E47;
  stroke: #000000;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.day-night-st6 {
  fill: #E2D752;
}

.day-night-st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.crown-st0 {
  fill: #2D2D2D;
}

.crown-st1 {
  fill: #020200;
}

.crown-st2 {
  fill: #FFFFFF;
}

.crown-st3 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.crown-st4 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.crown-st5 {
  fill: #272727;
}

.crown-st6 {
  fill: #EFF1F3;
}

.crown-st7 {
  fill: none;
  stroke: #272727;
  stroke-miterlimit: 10;
}

.crown-st8 {
  fill: none;
  stroke: #272727;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.repeater-st0 {
  fill: #FFFFFF;
}

.repeater-st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.repeater-st2 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.repeater-st3 {
  fill: #272727;
}

.repeater-st4 {
  fill: #CECECE;
}

.moonphase-st0 {
  fill: #FFFFFF;
}

.moonphase-st1 {
  fill: #0F2E47;
}

.moonphase-st2 {
  fill: #E2D752;
}

.moonphase-st3 {
  fill: #D6D6D4;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.moonphase-st4 {
  fill: #3D3D3D;
}

.moonphase-st5 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.moonphase-st6 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.moonphase-st7 {
  fill: #272727;
}

.moonphase-st8 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.reserve-st0 {
  fill: #FFFFFF;
}

.reserve-st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.reserve-st2 {
  fill: none;
  stroke: #007486;
  stroke-miterlimit: 10;
}

.reserve-st3 {
  fill: #272727;
}

.reserve-st4 {
  fill: none;
  stroke: #272727;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.first-watch-st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.first-watch-st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.first-watch-st2 {
  fill: #B21B1B;
}

.first-watch-st3 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.first-watch-st4 {
  fill: #E2E2E2;
  stroke: #999898;
  stroke-miterlimit: 10;
}

.first-watch-st5 {
  fill: none;
  stroke: #CC1111;
  stroke-miterlimit: 10;
}

.first-watch-st6 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.first-watch-st7 {
  fill: none;
  stroke: #BC1515;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.first-watch-st8 {
  fill: none;
  stroke: #3F3F3F;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.first-watch-st9 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.chrono-st0 {
  fill: #000;
}

.chrono-st1 {
  fill: #FFFFFF;
}

.chrono-st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.chrono-st3 {
  fill: #EFF1F3;
}

.chrono-st4 {
  fill: #007486;
}

.left-center {
  transform-origin: 70px 125px;
}

.right-center {
  transform-origin: 180px 125px;
}

.bottom-center {
  transform-origin: 125px 179px;
}

#start-pause-btn {
  transform: translate(0,0);
  transition: transform 0.05s ease;

  &.active {
    transform: translate(-3px, 2px);
  }
}

#reset-btn {
  transform: translate(0,0);
  transition: transform 0.05s ease;

  &.active {
    transform: translate(-3px, -2px);
  }
}

#primary-hour-hand,
#primary-minute-hand,
#primary-second-hand {
  transform-origin: 122px 122px;
}

#secondary-hour-hand,
#secondary-minute-hand,
#secondary-second-hand {
  transform-origin: 122px 196px;
}

#power-reserve-hand {
  transform-origin: 122px 70px;
}
