.container {
  max-width: 1080px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
}

header {
  background: #fff;
  padding: 25px;

  .the-logo {
    float: left;
    width: 208px;
    height: auto;
    border: 0;
  }

  .header-button-container {
    float: right;

    .button {
      float: left;
      border: 1px solid $orange;
      color: $orange;
      text-align: center;
      margin: 20px 10px;

      a, a:active, a:visited, a:hover {
        text-decoration: none;
        color: $orange;
        font-weight: 600;
        display: block;
        width: 100%;
        padding: 10px;
        background: #fff;
        @include transition(background .15s, color .15s);
      }

      a:hover {
        background: $orange;
        color: #fff;
      }
    }
  }
}

.banner {
  background: url(../img/background-banner.jpg) $orange;
  background-size: 100%;
  height: 300px;
  display: block;
  overflow: hidden;

  .container {

    .text-container {

      h1 {
        font: 90px/125px 'Hind', sans-serif;
        font-weight: 600;
        color: #414042;
        margin-top: 25px;
      }

      p {
        font: 24px/35px 'Hind', sans-serif;
        color: #333;
      }
    }
    .hiya {
      width: 100%;
      height: auto;
      border: 0;
      margin: 20px 0;
    }
  }
}

.content {
  display: block;

  .docs-container {
    padding: 0 10px;
    .docs-tree {
      li li{
        margin: 0 15px;
      }

      a, a:active, a:visited {
        display: block;
        text-decoration: none;
        color: #333;
        background: #fff;
        padding: 4px 0;
        @include transition(background .15s);
      }

      a:hover {
        background: #f3f3f3;
      }
    }

    .docs-details {
      overflow: hidden;
      padding: 0 15px;
      border-left: 1px solid #333;

      a, a:active, a:visited, a:hover {
        text-decoration: none;
        color: $orange;
      }

      a.return, a.return:active, a.return:visited, a.return:hover {
        display: block;
        text-align: right;
        text-decoration: none;
        color: $orange;
      }

      .docs-section {
        padding: 15px 0;
        border-bottom: 1px solid $orange;

        h3 {
          color: $orange;
          font: 24px/30px 'Hind', sans-serif;
          font-weight: 600;
        }

        p {
          margin: 5px 0;
          color: #333;
          font: 16px/22px 'Hind', sans-serif;
        }

        li li{
          margin: 4px 15px;
        }
      }
    }
  }
}

pre code {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  white-space: pre;
  word-wrap: normal;
  padding: 10px;
}

.pln {
  max-height: 1px;
}

.section-header {
  width: 100%;
  display: block;
  padding: 10px 0 3px 0;
  background: $orange;

  h2 {
    font: 35px/42px 'Hind', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
  }
}

footer {
  width: 100%;
  display: block;
  padding: 10px 0;
  background: $orange;
  overflow: hidden;

  .the-logo {
    float: left;
    width: 150px;
    height: auto;
    border: 0;
  }

  .footer-button-container {
    float: right;

    .button {
      float: left;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      margin: 10px 10px;

      a, a:active, a:visited, a:hover {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        display: block;
        width: 100%;
        padding: 5px;
        background: $orange;
        @include transition(background .15s, color .15s);
      }

      a:hover {
        background: #fff;
        color: $orange;
      }
    }
  }
}