.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  z-index: 99;
  overflow: hidden;
}
.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  .cta-button {
    position: absolute;
    bottom: 9%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    overflow: hidden;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    @include transition(width .5s ease-out);

    &:active, :visited {
      color: #fff;
      text-decoration: none;
    }
    &:hover {
      color: #fff;
    }

    .cta-button-text {
      float: left;
      padding-left: 10px;
      line-height: 35px;
      text-transform: uppercase;
    }

    .cta-button-arrow {
      float: right;
      width: 46px;
      height: 35px;
      background: #fff;
      text-align: center;
    }
  }

  &.portrait {
    @include transform(translate(-50%, -50%));

    @include bp("six") {
      width: 100vw;
      height: 100vh;
      padding: 0;
      background: none;
    }
    @include bp("eight") {
      width: 441px;
      height: 652px;
      padding: 64px 19px;
      background: url(../img/background-ipad.png) no-repeat;
    }

    .popup-content {
      background: #7f8c8c;
      color: #fff;

      @include bp("six") {
        width: 100vw;
        height: 100vh;
        padding: 26.25% 20%;
      }
      @include bp("eight") {
        width: 400px;
        height: 525px;
        padding: 20px;
      }
    }
  }

  &.landscape {
    @include transform(translate(-50%, -50%));

    @include bp("six") {
      width: 100vw;
      height: 100vh;
      padding: 0;
      background: none;
    }
    @include bp("twelve") {
      width: 652px;
      height: 441px;
      padding: 19px 64px;
      background: url(../img/background-ipad-landscape.png) no-repeat;
    }

    .popup-content {
      background: #7f8c8c;
      color: #fff;

      @include bp("six") {
        width: 100vw;
        height: 100vh;
        padding: 20% 26.25%;
      }
      @include bp("twelve") {
        width: 525px;
        height: 400px;
        padding: 20px;
      }
    }
  }

  .popup-content {
    &.eggplant {
      background: $eggplant;

      .cta-button {
        background: $eggplant;
      }
    }
    &.mardi-gras {
      background: $mardi-gras;

      .cta-button {
        background: $mardi-gras;
      }
    }
  }
}
