.section.two.active {

  .content-container {
    @include bp("six") {
      background: url(../img/cityview-bottom-320.jpg) no-repeat;
      background-size: 100% 100%;

      .content-container-content {
        background: url(../img/city-background-320.png) no-repeat bottom left;
        background-size: 100%;
      }
    }
    @include bp("eight") {
      background: url(../img/cityview-bottom-480.jpg) no-repeat;
      background-size: 100% 100%;

      .content-container-content {
        background: url(../img/city-background-480.png) no-repeat bottom left;
        background-size: 100%
      }
    }
    @include bp("twelve") {
      background: url(../img/cityview-bottom-768.jpg) no-repeat;
      background-size: 100% 100%;

      .content-container-content {
        background: url(../img/city-background-768.png) no-repeat bottom left;
        background-size: 100%
      }
    }
    @include bp("sixteen") {
      background: url(../img/cityview-bottom-940.jpg) no-repeat;

      .content-container-content {
        background: url(../img/city-background-940.png) no-repeat bottom left;
        background-size: 100%
      }
    }

    &.sky {
      background: #15b1a4;
    }

    .streetlight {
      opacity: 0;
      @include transition(opacity .25s);

      &.inactive {
        opacity: 0;
      }
      &.active {
        opacity: 1;
      }
    }

    .single-floor {
      @include transform-origin(bottom center);
    }

    .ambulance {
      @include animation(ambulance-route 10s ease-out);
      @include animation-iteration-count(infinite);

      .ambulance-lights {
        opacity: .3;
      }

      &.paused {
        cursor: pointer;
        @include animation-play-state(paused);
        .brake-light {
          opacity: 1;
        }
      }

      &.letsago {
        //@include animation-iteration-count(infinite);

        .ambulance-lights {
          opacity: .3;
          @include transition(opacity .25s);

          &.active {
            opacity: 1;
          }
        }
      }
    }

    #city-carone {
      @include animation(city-car-top-lanes-right 16s 17s linear);
      @include animation-iteration-count(infinite);

      &.paused {
        @include animation-play-state(paused);
      }
    }

    #city-cartwo {
      @include animation(city-car-top-lanes-right 19s 6s linear);
      @include animation-iteration-count(infinite);

      &.paused {
        @include animation-play-state(paused);
      }
    }

    #city-carsix {
      @include animation(city-car-top-lanes-left 24s 12s linear);
      @include animation-iteration-count(infinite);
      @include transition(opacity .25s);

      &.paused {
        @include animation-play-state(paused);

        .brake-light {
          opacity: 1;
        }
      }
    }

    #city-carseven {
      @include animation(city-car-top-lanes-left 21s 6s linear);
      @include animation-iteration-count(infinite);
      @include transition(opacity .25s);

      &.paused {
        @include animation-play-state(paused);

        .brake-light {
          opacity: 1;
        }
      }
    }

    #city-careleven {
      @include animation(city-car-top-lanes-left 15s linear);
      @include animation-iteration-count(infinite);
    }

    #city-careight {
      @include animation(city-car-top-lanes-right 12s 5s linear);
      @include animation-iteration-count(infinite);
    }
  }
}