.section.one {
  .top-buffer {
    width: 100%;
    height: 100vh;
    display: block;
    background: #472063; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiM0NzIwNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiM0NzIwNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTViMWE0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #472063 83%, #472063 83%, #15b1a4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#472063), color-stop(63%,#472063), color-stop(100%,#15b1a4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #472063 83%,#472063 83%,#15b1a4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #472063 83%,#472063 83%,#15b1a4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #472063 83%,#472063 83%,#15b1a4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #472063 83%,#472063 83%,#15b1a4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#472063', endColorstr='#15b1a4',GradientType=0 ); /* IE6-8 */

    .intro-text {
      position: absolute;
      top: 0;

      @include bp(six) {
        padding: 30px;
        width: 100%;
      }

      @include bp(twelve) {
        margin: 30px;
        width: 500px;
      }

      h1 {
        color: $yellow;
        font: 37px/44px "ITCLubalinGraphW01-Demi";
      }
      h2 {
        color: #fff;
        font: 28px/32px "ITCLubalinGraphW01-Bk";
      }
      p {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        margin: 50px 0;

        &:first-child {
          margin-top: 55px;
        }

        &:last-child {
          font-weight: bold;
        }
      }
    }

    .intro-cta {
      position: absolute;
      z-index: 15;
      overflow: hidden;
      white-space: nowrap;
      color: #fff;
      text-align: center;
      font: 12px/15px "HelveticaNeueW01-55Roma";
      display: block;
      cursor: pointer;
      top: 6%;
      @include transition(width .5s ease);

      @include bp(six) {
        width: 125px;
        left: 50%;
        top: 555px;
        margin-left: -50.5px;
        padding-top: 100px;
        background: url(../img/marker-no-shadow.png) no-repeat top center;
        background-size: 60px;
      }
      @include bp(twelve) {
        background: none;
        width: 0;
        left: 73%;
        margin-left: 0;
        padding-top: 0;
        top: 6%;

        &.active {
          width: 94px;
          top: 6%;
        }
      }
    }

    .the-helicopter {
      cursor: pointer;

      &.flying {
        .helicopter-still-blades {
          display: none;
        }
        .helicopter-spin-blades {
          display: block;
        }
      }
      &.landed {
        .helicopter-spin-blades {
          display: none;
        }
        .helicopter-still-blades {
          display: block;
        }
      }

      @include bp(six) {
        display: none;
      }
      @include bp(twelve) {
        display: block;
      }
    }

    .line-and-marker {
      @include bp(six) {
        display: none;
      }
      @include bp(twelve) {
        display: block;
      }
    }
  }

  .content-container {
    @include bp("six") {
      background: url(../img/cityview-top-320.jpg) no-repeat;
    }
    @include bp("eight") {
      background: url(../img/cityview-top-480.jpg) no-repeat;
    }
    @include bp("twelve") {
      background: url(../img/cityview-top-768.jpg) no-repeat;
    }
    @include bp("sixteen") {
      background: url(../img/cityview-top-940.jpg) no-repeat;
      &.padding {
        padding-bottom: 145px;
      }
    }

    #airport-textone, #airport-texttwo {
      opacity: 0;
      @include transition(opacity 1.65s 1.5s);
      &.active {
        opacity: 1;
      }
    }

    .section-one-car {
      &.purple {
        @include animation(city-car-top-lanes-left 15s linear);
        @include animation-iteration-count(infinite);
        .color {
          fill: #7E217B;

          &:nth-child(1) {
            fill: #773573;
          }
          &:nth-child(2) {
            fill: #8a2587;
          }
          &:nth-child(3) {
            fill: #952797;
          }
          &:nth-child(4) {
            fill: #491147;
          }
          &:nth-child(5) {
            fill: #781F73;
          }
        }
      }

      &.white {
           @include animation(city-car-top-lanes-left 15s 6s linear);
           @include animation-iteration-count(infinite);
           .color {
             fill: #94aaad;

             &:nth-child(1) {
               fill: #CED2DB;
             }
             &:nth-child(2) {
               fill: #D5DDE3;
             }
             &:nth-child(3) {
               fill: #D4DCE1;
             }
             &:nth-child(4) {
               fill: #777E7E;
             }
             &:nth-child(5) {
               fill: #B6BABE;
             }
           }
         }

        &.blue {
          @include animation(city-car-top-lanes-left 16s 9s linear);
          @include animation-iteration-count(infinite);
          .color {
            fill: #012848;

            &:nth-child(1) {
              fill: #00375D;
            }
            &:nth-child(2) {
              fill: #0A294B;
            }
            &:nth-child(3) {
              fill: #03375C;
            }
            &:nth-child(4) {
              fill: #00182F;
            }
            &:nth-child(5) {
              fill: #00375D;
            }
          }
      }
    }

  }
}