.section.three.active {
  .single-room {
    display: block;
    width: 100%;

    &.floor-one {
      background: url(../img/healthcare-floor-one.png) no-repeat top left;
      background-size: 100%;
    }
    &.floor-two {
      background: url(../img/healthcare-floor-two.png) no-repeat top left;
      background-size: 100%;
    }
    &.floor-three {
      background: url(../img/healthcare-floor-three.png) no-repeat top left;
      background-size: 100%;
    }
    &.floor-four {
      background: url(../img/healthcare-floor-four.png) no-repeat top left;
      background-size: 100%;
    }
    &.floor-five {
      background: url(../img/healthcare-floor-five.png) no-repeat top left;
      background-size: 100%;
    }
  }

  #printer-area {
    cursor: pointer;
  }

  .rooftop.active {
    .landing-lights polygon {
      opacity: 0;
      @include animation(fade 2s infinite);

      &:nth-child(odd) {
        @include animation-delay(1s);
      }
    }
  }

  .the-helicopter {
    cursor: pointer;
    &.flying {
      .helicopter-still-blades {
        display: none;
      }
      .helicopter-spin-blades {
        display: block;
      }
    }

    &.landed {
      .helicopter-still-blades {
        display: block;
      }
      .helicopter-spin-blades {
        display: none;
      }
    }
  }

  .sink-water {
    display: none;
    &.active {
      display: block;
    }
  }
}