h1 {
  color: #e86025;
  font: 5.5rem/1.15 "Hind", sans-serif;
  text-transform: uppercase; }
  h1 span {
    color: #272727; }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 4.5rem; } }

h2 {
  color: #EFF1F3;
  font: 1.75rem/1 "Hind", sans-serif;
  text-transform: uppercase; }
  h2 span {
    color: #272727; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 1.25rem; } }

h3 {
  font: 1.5rem/1 "Open Sans", sans-serif; }

h4 {
  font: 1.5rem/1.5 "Open Sans", sans-serif;
  text-transform: uppercase; }

h5 {
  font: 1.25rem/1.25 "Open Sans", sans-serif; }
