.has-spacer:after {
  background: #272727;
  content: '';
  display: block;
  height: 1px;
  margin: 1rem 0;
  max-width: 1024px;
  width: 100%; }

.center-content {
  text-align: center; }
  .center-content.has-spacer:after,
  .center-content .has-spacer:after {
    margin: 1rem auto; }

.is-centered {
  margin: 0 auto; }

.is-shaded {
  background: #e86025; }

.is-code-ref {
  background: #e0e4e8;
  color: #e86025;
  padding: 0 0.33333rem; }

.is-strong {
  font-weight: 700; }

.is-underlined {
  text-decoration: underline; }

.is-hidden {
  display: none; }

.is-fixed {
  position: fixed; }
  @media screen and (max-width: 800px) {
    .is-fixed {
      position: static; } }

.is-rounded {
  border-radius: 50%; }

.is-capped {
  max-width: 750px; }

.is-transparent {
  opacity: 0; }

.is-light {
  color: #EFF1F3; }

.is-collapsed {
  height: 30px;
  overflow: hidden; }

.is-expanded {
  height: auto; }

.has-pattern {
  background-color: #eff1f3;
  background-image: url("./images/tile-bg.png"); }
