@import './variables.scss';
@import './mixins.scss';

.has-spacer:after {
  background: $primaryColor;
  content: '';
  display: block;
  height: 1px;
  margin: $vspace 0;
  max-width: 1024px;
  width: 100%;
}

.center-content {
  text-align: center;

  &.has-spacer:after,
  .has-spacer:after {
    margin: $vspace auto;
  }
}

.is-centered {
  margin: 0 auto;
}

.is-shaded {
  background: $secondaryColor;
}

.is-code-ref {
  background: darken($tertiaryColor, 5%);
  color: $secondaryColor;
  padding: 0 $hspace/3;
}

.is-strong {
  font-weight: 700;
}

.is-underlined {
  text-decoration: underline;
}

.is-hidden {
  display: none;
}

.is-fixed {
  position: fixed;
  @include bp(800) {
    position: static;
  }
}

.is-rounded {
  border-radius: 50%;
}

.is-capped {
  max-width: 750px;
}

.is-transparent {
  opacity: 0;
}

.is-light {
  color: $tertiaryColor;
}

.is-collapsed {
  height: 30px;
  overflow: hidden;
}

.is-expanded {
  height: auto;
}

.has-pattern {
  background-color: #eff1f3;
  background-image: url("./images/tile-bg.png");
}
