$primaryColor: #272727;
$secondaryColor: #e86025;
$tertiaryColor: #EFF1F3;
$accentColor: #FED766;
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Rubik', sans-serif;
$hspace: 1rem;
$vspace: 1rem;
