.aside-nav-container {
  background: #EFF1F3;
  top: 0;
  width: 250px; }

@media screen and (max-width: 800px) {
  .aside-nav-container {
    padding: 0.5rem 1.5rem;
    width: 100%; } }

.aside-nav {
  padding: 1rem 0; }

.menu-group {
  cursor: pointer; }
  .menu-group.active .guide {
    background: #e86025;
    color: #EFF1F3; }

.group-header {
  background: #e86025;
  color: #EFF1F3;
  display: block;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase; }
  .group-header.guide {
    background: transparent;
    color: #272727; }

.main-menu li {
  margin-bottom: 0.2rem; }

.sub-menu {
  display: none;
  font-size: 0.9rem;
  margin-bottom: 0.5rem; }

li.active .sub-menu {
  display: block; }

.sub-menu li {
  font-size: 0.9rem;
  padding: 0.25rem 0 0.25rem 1rem; }
  .sub-menu li:nth-child(even) {
    background: #e8ebee; }
  .sub-menu li a {
    display: block; }
