@import url(http://fonts.googleapis.com/css?family=Hind:300,600,400);

.light {
  font-family: 'Hind', sans-serif !important;
  font-weight: 300 !important;
}
.heavy {
  font-family: 'Hind', sans-serif !important;
  font-weight: 600 !important;
}