a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: #EFF1F3;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.25; }

p {
  margin: 1rem 0; }

ol,
ul {
  list-style: none; }

ul ul {
  padding: 0.25rem 1rem; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.linenums {
  padding: 0.5rem 0.5rem; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  width: 100%; }

@media screen and (max-width: 800px) {
  .container.flex-container {
    flex-direction: column; } }

.flex-container {
  display: flex; }
  .flex-container.at-end {
    justify-content: flex-end; }
  .flex-container.is-spread {
    justify-content: space-between; }

.flex-container-column {
  display: flex;
  flex-direction: column; }
  .flex-container-column.is-centered {
    align-content: center;
    justify-content: center; }

.flex-one {
  flex: 1; }

.flex-two {
  flex: 2; }

.flex-three {
  flex: 3; }

.flex-four {
  flex: 4; }

.flex-five {
  flex: 5; }

@media screen and (max-width: 500px) {
  .flex-container .flex-five,
  .flex-container .flex-four,
  .flex-container .flex-one,
  .flex-container .flex-three,
  .flex-container .flex-two {
    flex: 1 0 auto; } }

.header-watch-container {
  height: 250px;
  margin: 0 auto 0.5rem;
  width: 250px; }

.guide-watch-container {
  height: 400px;
  margin: 0 auto 0.5rem;
  width: 400px; }

.complication-container {
  color: #EFF1F3;
  flex-direction: row; }
  @media screen and (max-width: 700px) {
    .complication-container {
      flex-direction: column; }
      .complication-container .flex-one:first-child {
        margin-bottom: 1rem; } }

.docs-container {
  padding: 1rem 1rem; }
  .docs-container.fixed-nav {
    margin-left: 250px;
    /* the width of the docs tree */ }
    @media screen and (max-width: 800px) {
      .docs-container.fixed-nav {
        margin-left: 0; } }

.panel {
  display: block;
  padding: 3rem 1rem;
  position: relative;
  width: 100%; }

.panel + .panel {
  padding: 2rem 1rem; }

.panel .panel {
  padding-bottom: 0; }

h1 {
  color: #e86025;
  font: 5.5rem/1.15 "Hind", sans-serif;
  text-transform: uppercase; }
  h1 span {
    color: #272727; }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 4.5rem; } }

h2 {
  color: #EFF1F3;
  font: 1.75rem/1 "Hind", sans-serif;
  text-transform: uppercase; }
  h2 span {
    color: #272727; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 1.25rem; } }

h3 {
  font: 1.5rem/1 "Open Sans", sans-serif; }

h4 {
  font: 1.5rem/1.5 "Open Sans", sans-serif;
  text-transform: uppercase; }

h5 {
  font: 1.25rem/1.25 "Open Sans", sans-serif; }

a,
a:active,
a:visited {
  color: #e86025; }
  a.invert,
  a:active.invert,
  a:visited.invert {
    color: #EFF1F3; }

a:hover {
  color: #ea713c; }
  a:hover.invert {
    color: #fefefe; }

h2 a,
h2 a:active,
h2 a:hover,
h2 a:visited {
  color: inherit;
  text-decoration: none; }

nav a,
nav a:active,
nav a:hover,
nav a:visited {
  color: inherit;
  text-decoration: none; }

.has-spacer:after {
  background: #272727;
  content: '';
  display: block;
  height: 1px;
  margin: 1rem 0;
  max-width: 1024px;
  width: 100%; }

.center-content {
  text-align: center; }
  .center-content.has-spacer:after,
  .center-content .has-spacer:after {
    margin: 1rem auto; }

.is-centered {
  margin: 0 auto; }

.is-shaded {
  background: #e86025; }

.is-code-ref {
  background: #e0e4e8;
  color: #e86025;
  padding: 0 0.33333rem; }

.is-strong {
  font-weight: 700; }

.is-underlined {
  text-decoration: underline; }

.is-hidden {
  display: none; }

.is-fixed {
  position: fixed; }
  @media screen and (max-width: 800px) {
    .is-fixed {
      position: static; } }

.is-rounded {
  border-radius: 50%; }

.is-capped {
  max-width: 750px; }

.is-transparent {
  opacity: 0; }

.is-light {
  color: #EFF1F3; }

.is-collapsed {
  height: 30px;
  overflow: hidden; }

.is-expanded {
  height: auto; }

.has-pattern {
  background-color: #eff1f3;
  background-image: url("./images/tile-bg.png"); }
